<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.tutorialsninja.customlistners.CustomListners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="nopcommerce Test" >
        <classes>
            <class name="com.tutorialsninja.testSuite.AccountLoginPageTest"/>
            <class name="com.tutorialsninja.testSuite.AccountRegisterPageTest"/>
            <class name="com.tutorialsninja.testSuite.DesktopsPageTest"/>
            <class name="com.tutorialsninja.testSuite.LaptopsAndNotebooksPageTest"/>
            <class name="com.tutorialsninja.testSuite.TopMenuTest"/>
        </classes>
    </test>
</suite>